<a href="https://colab.research.google.com/github/deeppatel6240/Python/blob/master/Python_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
arr = [5, 6, 7, 8, 9]
length = len(arr)
rotation_time = 2


def rotation(a, l, r):
    for i in range(0, r):
        
        temp = a[0]
        for j in range(0, l-1):
            a[j] = a[j+1]
        a[l-1] = temp
        
def printarray(a, l):
    for i in range(0, l):
        print(a[i], end=" ")
    

rotation(arr, length, rotation_time)
printarray(arr, length)

7 8 9 5 6

In [ ]:
arr = [5, 6, 733, 8, 9, 123]
length = len(arr)

def maximum(a, l):
    max1 = a[0]
    for i in range(1, l):
        if max1 < a[i]:
            max1 = a[i]
    return max1

print(maximum(arr, length))

733

In [ ]:
arr = [5, 6, 733, 8, 9, 123]
length = len(arr)

def maximum(a, l):
    max1 = a[0]
    for i in range(1, l):
        if max1 > a[i]:
            max1 = a[i]
    return max1

print(maximum(arr, length))

5

In [ ]:
def findremainder(arr, lens, n): 
    mul = 1
  
    # find the individual 
    # remainder and  
    # multiple with mul. 
    for i in range(lens):  
        mul = (mul * (arr[i] % n)) % n 
      
    return mul % n 
  
# Driven code 
arr = [1 , 2, 3, 4, 5, 6, 7,8, 9 ] 
lens = len(arr) 
n = 4
  
# print the remainder 
# of after multiple 
# all the numbers 
print( findremainder(arr, lens, n))

0

In [ ]:
a = int(input())
b = int(input())

sum1 = a + b
print(sum1)

2
3
5

In [ ]:
num = int(input())

def factorial(n):
    if n == 0:
        return 1
    elif n == 1:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(num))

7
5040

In [ ]:
p = int(input())
t = int(input())
r = float(input())

def simple_interest(p1, t1, r1):
    if 0 < r1 <= 100:
        simple = (p1 * t1 * r1) // 100
        print(simple)

simple_interest(p, t, r)

10000
5
5
2500.0

In [ ]:
p = int(input())
t = int(input())
r = float(input())

def interest(p1, t1, r1):
    if 0 < r1 <= 100:
        a = p * pow((1 + (r/100)), t)
        c_interest = a - p
        print(c_interest)
        
interest(p, t, r)

12000
2
5.4
1330.9920000000002

In [ ]:
num = int(input())
lens = len(str(num))

def armstrong(n, l):
    sum1 = 0
    temp = n
    
    while temp > 0:
        n1 = temp % 10
        sum1 += n1 ** l
        
        temp //= 10
        
    if n == sum1:
        print("armstrong")
        
    else:
        print("not")
        
armstrong(num, lens)

153
armstrong

In [ ]:
radius = int(input())

def area(r):
    pie = 3.14
    circle = pie * r * r
    print(circle)
    
area(radius)

123
47505.060000000005

In [ ]:
start = int(input())
end = int(input())

def prime(s, e):

  for i in range(s, e):
    if i > 1:
      for j in range(2, i):
        if i % j == 0:
          break

      else:
        print(i)

prime(start, end)

2
50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
num = int(input())

def prime(n):
  for i in range(2, n):
    if n % i == 0:
      print("not prime")
      break
  else:
    print("prime")


prime(num)

59
prime

In [ ]:
start = int(input())
end = int(input())

def arm(s, e):
  for i in range(s, e+1):
    lens = len(str(i))

    sum1 = 0
    temp = i

    while temp > 0:
      n1 = temp % 10
      sum1 += n1 ** lens

      temp //= 10
    
    if i == sum1:
      print(i, end = " ")
      
arm(start, end)

1
10000000
1 2 3 4 5 6 7 8 9 153 370 371 407 1634 8208 9474 54748 92727 93084 548834 1741725 4210818 9800817 9926315

In [ ]:
num = int(input())

def fibo(n):
  if n < 0:
    print("does not exist")
  elif n == 1:
    return 0
  elif n == 2:
    return 1
  else:
    return fibo(n-1) + fibo(n-2)
  
print(fibo(num))

11
55

In [ ]:
string = str(input())

def ascii(s):
  print(ord(s))

ascii(string)

In [ ]:
import math
num = int(input())

def issquare(n):
  n1 = int(math.sqrt(n))
  return n1 * n1 == n

def isfibo(m):
  return issquare(5 * m * m + 4) or issquare(5 * m * m - 4)


if isfibo(num) == True:
  print("yes")
else:
  print("no")

14
no

In [ ]:
arr = [1,2,3,4,5,6,7]

def sum1(a):
  print(sum(a))

sum1(arr)

28

In [ ]:
arr = [1,2,312,4,5,6,7]
lens = len(arr)

def largest(a, l):
  max = a[0]
  for i in range(0, l):
    if max < a[i]:
      max = a[i]
  return max

print(largest(arr, lens))

312

In [ ]:
arr = [1,2,3,4,5,6,7,8]
lens = len(arr)
rotation_time = 4

def arrtation(a, l, r):
  for i in range(0, r):
    temp = a[0]
    for j in range(0, l-1):
      a[j] = a[j+1]
    a[l-1] = temp

def printarr(a, l):
  for i in range(0, l):
    print(a[i], end = " ")


arrtation(arr, lens, rotation_time)
printarr(arr, lens)

5 6 7 8 1 2 3 4

In [ ]:
arr = [1,2,3,4,5,6,7,8]
lens = len(arr)
n = 10


def mul(a, l):
  s = 0
  for i in range(l):
    s = (s * (a[i] % n)) % n
  print(s % n)

mul(arr, lens)

0

In [ ]:
arr = [1,2,3,4,5,6,6,9]
lens = len(arr)
n = 10

def sumation(a, l):
  s = 0
  for i in range(0, l):
    s = (s + (a[i] % n)) %n
  print(s % n)

def sum1(a):
  print(sum(a))

sum1(arr)
sumation(arr, lens)

36
6

In [ ]:
arr = [1,2,3,4,5,6,7,8]
lens = len(arr)

def swap(a, l):
  temp = a[2]
  a[2] = a[l-4] 
  a[l-4] = temp

  return a

print(swap(arr, lens))

[1, 2, 5, 4, 3, 6, 7, 8]

In [ ]:
arr = ['deep', 'raj', 'raj', 'deep', 'sam', 'pal', 'pal']
lens = len(arr)
word = 'raj'
n = 2

def rem(a, l, w, n1):
  new_list = []
  count = 0

  for i in a:
    if i == w:
      count += 1
      if count != n1:
        new_list.append(i)
    else:
      new_list.append(i)

  a = new_list

  if count == 0:
    print("not found")
  else:
    print(a)

rem(arr, lens, word, n)

['deep', 'raj', 'deep', 'sam', 'pal', 'pal']

In [ ]:
  arr = [134,5,36,34647,56,8548,688,845,88,5854,8858,8546]

  lens = len(arr)

  for i in arr:
    if i == 8548:
      print("yes")

yes

In [ ]:
arr = [134,5,36,34647,56,8548,688,845,88,5854,8858,8546]
arr *= 0
arr

[]

In [ ]:
arr = [134,5,36,34647,56,8548,688,845,88,5854,8858,8546]
del arr[:]
arr

[]

In [ ]:
arr = [134,5,36,34647,56,8548,688,845,88,5854,8858,8546]


arr.pop(1)

print(arr)

[134, 36, 34647, 56, 8548, 688, 845, 88, 5854, 8858, 8546]

In [ ]:
arr = [134,5,36,34647,56,8548,688,845,88,5854,8858,8546]

def rev(a):
  a.reverse()
  print(a)

rev(arr)

[8546, 8858, 5854, 88, 845, 688, 8548, 56, 34647, 36, 5, 134]

In [ ]:
arr = [134,5,36,34647,56,8548,688,845,88,5854,8858,8546]

def rev(a):
  new = a[::-1]
  print(new)

rev(arr)

[8546, 8858, 5854, 88, 845, 688, 8548, 56, 34647, 36, 5, 134]

In [1]:
arr = [1,2,3,4,5,6]

def cloing(a):
  new = a[:]
  return new

print(cloing(arr))

[1, 2, 3, 4, 5, 6]

In [4]:
 arr = [1,2,3,4,5,6]

 def cloning(a):
   new_arr = []
   for i in arr:
     new_arr.append(i)
   return new_arr

 print(cloning(arr))

[1, 2, 3, 4, 5, 6]

In [10]:
arr = [1,2,3,4,2,3,1,2,3,5,42,1,2,1,2,3]
word = 2

def deep(a, w):
  count = 0
  lens = len(a)

  for i in range(0, lens):
    if a[i] == w:
      count += 1
  return count

print(deep(arr, word))

5