In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('SBIN.xlsx')
df

      Open    High     Low   Close    Volume
0   254.50  255.00  248.40  249.55  33066232
1   252.00  252.50  247.40  248.10  20543437
2   250.00  269.25  248.40  267.90  37768359
3   267.50  279.10  266.00  273.15  33401683
4   275.00  282.75  268.60  281.40  28137370
5   283.00  289.00  278.85  285.90  29144808
6   287.90  292.80  283.20  285.35  27760214
7   286.45  300.00  283.50  296.10  44619891
8   296.10  298.30  283.90  286.45  40688243
9   287.00  287.50  282.45  283.25  19201007
10  283.70  283.70  276.85  277.95  24044907
11  276.30  279.70  273.35  278.05  25633628
12  280.40  287.70  278.00  283.60  52674807
13  283.85  287.05  281.15  285.40  18445463
14  285.90  291.80  282.60  290.90  24805910
15  293.50  293.50  286.05  288.15  13799970
16  285.90  288.55  282.50  283.45  12900924
17  283.45  289.55  283.05  287.05  16167419
18  285.95  287.05  281.60  282.70  12066797
19  284.10  287.25  279.60  286.40  16846820

In [3]:
df1 = pd.date_range(start = '10/25/2018', end = '11/21/2018', freq = 'B')

In [4]:
df1

DatetimeIndex(['2018-10-25', '2018-10-26', '2018-10-29', '2018-10-30',
               '2018-10-31', '2018-11-01', '2018-11-02', '2018-11-05',
               '2018-11-06', '2018-11-07', '2018-11-08', '2018-11-09',
               '2018-11-12', '2018-11-13', '2018-11-14', '2018-11-15',
               '2018-11-16', '2018-11-19', '2018-11-20', '2018-11-21'],
              dtype='datetime64[ns]', freq='B')

In [5]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

In [6]:
us = CustomBusinessDay(calendar=USFederalHolidayCalendar())
us

In [7]:
df2 = pd.date_range(start = '10/25/2018', end = '11/21/2018', freq = us)

In [8]:
df2

DatetimeIndex(['2018-10-25', '2018-10-26', '2018-10-29', '2018-10-30',
               '2018-10-31', '2018-11-01', '2018-11-02', '2018-11-05',
               '2018-11-06', '2018-11-07', '2018-11-08', '2018-11-09',
               '2018-11-13', '2018-11-14', '2018-11-15', '2018-11-16',
               '2018-11-19', '2018-11-20', '2018-11-21'],
              dtype='datetime64[ns]', freq='C')

In [31]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday
class USFederalHolidayCalendar(AbstractHolidayCalendar):
    """
    US Federal Government Holiday Calendar based on rules specified by:
    https://www.opm.gov/policy-data-oversight/
       snow-dismissal-procedures/federal-holidays/
    """

    rules = [
        Holiday("New Years Day", month=11, day=16, observance=nearest_workday)
    ]

In [32]:
c1 = CustomBusinessDay(calendar = USFederalHolidayCalendar())
c1

In [33]:
df3 = pd.date_range(start = '10/25/2019', end = '11/21/2019', freq = c1)

In [34]:
df3

DatetimeIndex(['2019-10-25', '2019-10-28', '2019-10-29', '2019-10-30',
               '2019-10-31', '2019-11-01', '2019-11-04', '2019-11-05',
               '2019-11-06', '2019-11-07', '2019-11-08', '2019-11-11',
               '2019-11-12', '2019-11-13', '2019-11-14', '2019-11-18',
               '2019-11-19', '2019-11-20', '2019-11-21'],
              dtype='datetime64[ns]', freq='C')